<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="estilo.css">
    <title>Ejercicio de Vehiculos</title>
</head>
<body>

    <div class="container m-auto">
        <h1 class="portada mb-5" id="titulo">Ejercicio Vehículos</h1>
        

        <form action="" class="main-form mt-2 p-2" id="createcar2">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="plate">PLATE</label>
                        <input type="text" name="plate" placeholder="1234abc" id="plate" class="form-control">
                        <div class="invalid-feedback" style="font-size:12px">Instroducir 4 numeros y 3 letras ( ej. 1234abc ) o Ya está registrada Introduzca otra vez por favor!!!</div>
                        <div class="valid-feedback">Correcto!</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="brand">BRAND</label>
                        <input type="text" name="brand" placeholder="BMW" id="brand" class="form-control">
                        <div class="invalid-feedback" style="font-size:12px">Introduzca Marca más de 3 letras o letras con numeros</div>
                        <div class="valid-feedback">Correcto!</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="from-group">
                        <label for="color">COLOR</label>
                        <input type="text" name="color" placeholder="ROJO" id="color" class="form-control">
                        <div class="invalid-feedback" style="font-size:12px">Introduzca Color más de 3 letras</div>
                        <div class="valid-feedback">Correcto!</div>
                    </div>
                </div>
            </div>
                <div class="col-sm-12 col-md-12">
                    <button type="submit" class="col-3 btn btn-success mt-3 w-100 " onclick="createCar2(inputs[0].value, inputs[1].value, inputs[2].value)">Create Car</button>
                </div>
             <div class="marcas">
                 <div class="marca">
                     <img src="/img/Captura de pantalla 2021-06-22 a las 17.00.44.png" alt="">
                 </div>
                 <div class="marca">
                     <img src="/img/Captura de pantalla 2021-06-22 a las 17.04.41.png" alt="">
                 </div>
                 <div class="marca">
                     <img src="/img/Captura de pantalla 2021-06-22 a las 17.05.00.png" alt="">
                 </div>
                 <div class="marca">
                     <img src="/img/Captura de pantalla 2021-06-22 a las 17.06.03.png" alt="">
                 </div>
                 
               
             </div>

        </form>
    
        <form action="" class="main-form mt-2 p-2" id="createwheel2">
            <div class="row">
                <h1 class="portada ruedas">Seleccione las ruedas</h1>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <div>
                            <label for="brand1">Marca Rueda1</label>
                            <input type="text" name="brand1" id="brand1" class="form-control">
                            <div class="invalid-feedback" style="font-size:12px">Introduzca más de 3 letras</div>
                            <div class="valid-feedback">Correcto!</div>
                        </div>
                        <div>
                            <label for="diametro1">Diametro Rueda1</label>
                            <input type="text" name="diametro1" id="diametro1" class="form-control">
                            <div class="invalid-feedback" style="font-size:12px">Introduzca entre 0.4 y 2</div>
                            <div class="valid-feedback">Correcto!</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <div>
                            <label for="brand2">Marca Rueda2</label>
                            <input type="text" name="brand2" id="brand2" class="form-control">
                            <div class="invalid-feedback" style="font-size:12px">Introduzca más de 3 letras</div>
                            <div class="valid-feedback">Correcto!</div>
                        </div>
                        <div>
                            <label for="diametro2">Diametro Rueda2</label>
                            <input type="text" name="diametro2" id="diametro2" class="form-control">
                            <div class="invalid-feedback" style="font-size:12px">Introduzca entre 0.4 y 2</div>
                            <div class="valid-feedback">Correcto!</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <div>
                            <label for="brand3">Marca Rueda3</label>
                            <input type="text" name="brand3" id="brand3" class="form-control">
                            <div class="invalid-feedback" style="font-size:12px">Introduzca más de 3 letras</div>
                            <div class="valid-feedback">Correcto!</div>
                        </div>
                        <div>
                            <label for="diametro3">Diametro Rueda3</label>
                            <input type="text" name="diametro3" id="diametro3" class="form-control">
                            <div class="invalid-feedback" style="font-size:12px">Introduzca entre 0.4 y 2</div>
                            <div class="valid-feedback">Correcto!</div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <div>
                            <label for="brand4">Marca Rueda4</label>
                            <input type="text" name="brand4" id="brand4" class="form-control">
                            <div class="invalid-feedback" style="font-size:12px">Introduzca más de 3 letras</div>
                            <div class="valid-feedback">Correcto!</div>
                        </div>
                        <div>
                            <label for="diametro4">Diametro Rueda4</label>
                            <input type="text" name="diametro4" id="diametro4" class="form-control">
                            <div class="invalid-feedback" style="font-size:12px">Introduzca entre 0.4 y 2</div>
                            <div class="valid-feedback">Correcto!</div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="col-3 btn btn-success mt-3 w-100" onclick="createWheel2(inputs2[0].value, inputs2[1].value, inputs2[2].value, inputs2[3].value, inputs2[4].value, inputs2[5].value, inputs2[6].value, inputs2[7].value,)">Crear Ruedas</button>
        </form>

        <form action="" class="main-form m-5 p-5" id="infocar">
            <div class="row">
                <div class="col" id="car"></div>
            </div>
            <div class="row">
                <div class="col" id="wheel"></div>
            </div>
            <button type="button" class="col-3 btn btn-success mt-3 w-100" onclick="newcar()">Crear otro Coche</button>
        </form>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="/models/car.js"></script>
    <script src="/models/wheel.js"></script>
    <script src="/controllers/controller2.js"></script>
    <!-- <script src="./js/car.js"></script>
    <script src="./js/wheel.js"></script>
    <script src="./js/controller2.js"></script> -->
</body>
</html>